<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Container 1-->
        <!--Container 1-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 2-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 3-->
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <ion-list data-comp-id="ionic-list.1" ng-repeat="item in data.trainerList">
            <div class="item item-icon-right" data-comp-id="item.1">
                <div data-comp-id="text.1" ng-bind="item.name"
                    ng-click="app.action('trainingregistration', 'trainerList[item].click', this)">
                    Some text
                    <span class="item-note"></span>
                </div>
                <i class="icon ion-ios-arrow-right" data-comp-id="icon.1" style="font-size:32px"></i>
            </div>
        </ion-list>
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <button class="button button-block" data-comp-id="button.3"
                    ng-click="app.action('form', 'submit', this)" style="border-radius: 10px;">Submit</button>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer=""></div>
</ion-view>