<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Container 1-->
        <div class="row" data-comp-id="row.1" ng-repeat="item in data.trainerList">
            <div class="col" data-comp-id="column.1"
                ng-click="app.action('trainingregistration', 'trainerList[item].click', this)">
                <div data-comp-id="text.1" ng-bind="item.name">Some text</div>
            </div>
        </div>
        <div class="light-bg card" data-comp-id="div.1"
            style="margin: 0% 4%; border-radius: 10px;">
            <!--User Input-->
            <select-list data-comp-id="selectList.2" label-class=" required"
                ng-model="data.companyList">Companies...</select-list>
            <select-list data-comp-id="selectList.3" label-class=" required"
                ng-model="data.trainingList">Trainings...</select-list>
            <!--User Input-->
            <!--User Input-->
            <!--User Input-->
        </div>
        <!--Container 1-->
        <!--Form Section-->
        <include-page data-comp-id="includePage.1" name="" page-data="{}"></include-page>
        <!--Form Section-->
        <!--Container 2-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 3-->
        <div class=" card" data-comp-id="div.2"
            style="margin: 0% 4%; border-radius: 10px;">
            <label class="item item-input item-date-icon positive-icon"
                data-comp-id="dateInput.1">
                <span class="input-label required">Start</span>
                <input date-format="YYYY-MM-DD" max="2100-12-12" min="1900-01-01"
                    ng-model-options="{allowInvalid: true}" ng-model="data.startdate"
                    powwow-change="{dynamic:false}" type="date">
            </label>
            <label class="item item-input item-date-icon positive-icon"
                data-comp-id="dateInput.2">
                <span class="input-label required">End</span>
                <input date-format="YYYY-MM-DD" max="2100-12-12" min="1900-01-01"
                    ng-model-options="{allowInvalid: true}" ng-model="data.enddate" type="date">
            </label>
            <label class="item item-input" data-comp-id="textInput.1">
                <span class="input-label required">Planned cost</span>
                <input ng-model="data.plannedcost" type="number">
            </label>
            <label class="item item-input" data-comp-id="textInput.2">
                <span class="input-label required">Real cost</span>
                <input ng-model="data.realcost" type="number">
            </label>
            <label class="item item-input" data-comp-id="textInput.3">
                <span class="input-label required">Training time</span>
                <input ng-model="data.trainingtime" type="number">
            </label>
            <label class="item item-input" data-comp-id="textInput.4">
                <span class="input-label">Quarter</span>
                <input ng-model="data.quarter" type="text">
            </label>
            <ion-list data-comp-id="ionic-list.1">
                <div class="row" data-comp-id="row.3"
                    style="border-top: 2px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); padding: 0px;">
                    <div class="col" data-comp-id="column.3" style="padding: 0px;"></div>
                </div>
            </ion-list>
        </div>
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <div class="row" data-comp-id="row.4" style="margin: 2px 0px 0px;">
            <div class="col" data-comp-id="column.4">
                <div class=" light" data-comp-id="text.3"
                    style="font-size: 16px; margin: 0% 0% 0% 2%;">Other information</div>
            </div>
        </div>
        <div class=" card" data-comp-id="div.3"
            style="margin: 0px 4%; border-radius: 10px;">
            <select-list data-comp-id="selectList.4" label-class=" required"
                ng-model="data.realizationList" title="Realization status...">Realization status...</select-list>
            <select-list data-comp-id="selectList.5" label-class=" required"
                ng-model="data.statusList" title="Training status...">Training status...</select-list>
            <label class="item item-input item-stacked-label light-bg"
                data-comp-id="textAreaInput.1"
                style="border-bottom: 0px; margin: 2% 0% 0%; border-top: 0px;">
                <textarea ng-model="data.comment" placeholder="Write your comments here"
                    rows="4"></textarea>
            </label>
        </div>
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <!--Form Section-->
        <div class="row" data-comp-id="row.5" style="margin: 2px 0px 0px;">
            <div class="col" data-comp-id="column.5">
                <div class=" light" data-comp-id="text.4"
                    style="font-size: 16px; margin: 0% 0% 0% 2%;">Select employee</div>
            </div>
        </div>
        <div class=" card" data-comp-id="div.4"
            style="margin: 0px 4%; border-radius: 10px;">
            <label class="item" data-comp-id="scanBarcode.1"
                ng-class="{'item-input item-button-right': style === 'control'}"
                scan-barcode="control" take-photo="control">
                <span class="input-label" ng-if="style === 'control'">Scan Barcode</span>
                <button class="button button-icon" ng-if="style === 'control'">
                    <i class="icon positive-icon ion-camera"></i>
                </button>
                <input disabled="" ng-if="style === 'control'" type="text">
                <button class="button button-block button-positive nomargin"
                    ng-if="style === 'button'">Scan Barcode</button>
                <textarea class="not-visible"></textarea>
            </label>
            <multiselect-list data-comp-id="multiselectList.1">Selected employee...</multiselect-list>
        </div>
        <!--Container 5-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class="row" data-comp-id="row.6">
            <div class="col" data-comp-id="column.6">
                <button class="button button-block" data-comp-id="button.3"
                    ng-click="app.action('trainingregistration', 'submit', this)"
                    style="border-radius: 10px;">Submit</button>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.7" style="padding: 0px; margin: 0px;">
            <div class="col text-center" data-comp-id="column.7" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button
                        class="button icon button-round button-shadowed ion-arrow-left-c button-calm"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.5">Cancel</div>
            </div>
            <div class="col text-center" data-comp-id="column.8" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.9" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button
                        class="button icon ion-arrow-right-c button-round button-shadowed button-energized"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.6">Continue</div>
            </div>
        </div>
    </div>
</ion-view>