<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Form Title</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" positive-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <!--Form Section-->
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1"
                ng-click="app.action('trainingregistration', 'realizationList[item].click', this)">
                <label class="item  item-input item-select-icon positive-icon"
                    data-comp-id="selectInput.1">
                    <span class="input-label">Select Label</span>
                    <select ng-change="clickSelectedRealization(item.$i)"
                        ng-model="data.realizationListDropdown"
                        ng-options="item as item.label for item in data.realizationListDropdown.options"></select>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <button class="button button-block" data-comp-id="button.3"
                    ng-click="app.action('form', 'submit', this)" style="border-radius: 10px;">Submit</button>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer=""></div>
</ion-view>